* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    min-height: 100%; 
    width: 100%;
    margin: 0 auto;
    position: relative;
    justify-content: center;
}

#top, #middle {
    width: 100%;
    text-align: center;
    padding-top: 3em;
}

#middle {
    position: relative;
    height: 45%;
}

#logo {
    max-width: 100%;
    max-height: 100%;
}

#playpause {
    max-width: 34%;
    max-height: 34%;
}

#loading {
    position: absolute;
    left: 50%;
    /* top: 50%; */
    z-index: 10;
    margin: 0 0 0 -100px;
    border: 30px solid #1c2228;
    border-radius: 50%;
    /* The below value is set in Player.js:
    border-right: 30px solid #fcfcfc;*/
    border-right: linear-gradient(45deg, #1c2228, #fcfcfc) 1;
    width: 200px;
    height: 200px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#audio-wrapper {
    display: inline;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text-contents {
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5em 4em;
    bottom: 0;
}

.visible {
    display: inline-block;
}

.hidden {
    display: none;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
