html, body, #root {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%; 
    background-color: blueviolet;

}

#logo, #control {
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
    text-align: center;
    padding-top: 5%;
    background-color: #1c2228;
}

#logo {
    top: 0;
}

#control {
    bottom: 0;
}

.controlButton {
    width: 10%;
    height: 10%;
}